@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App {
  width: 50%;
}

.todoList {
  background-color: yellow;
  display: flex;
  align-items: center;
  padding: 0.8em;
  gap: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.todoList span {
  flex-grow: 1;
  font-size: 1.1rem;
}

.App form {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 1em;
}

.App form input {
  flex-grow: 1;
  outline: none;
  border: 1px solid #ccc;
}

button {
  border: none;
  background-color: orange;
  cursor: pointer;
}

.App form input,
button {
  border-radius: 5px;
  font-size: 1.1rem;
  padding: 0.4em 0.8em;
}

@media screen and (max-width: 1020px) {
  .App {
    width: 75%;
  }
}

@media screen and (max-width: 680px) {
  .App {
    width: 85%;
  }
}

@media screen and (max-width: 595px) {
  .App form input,
  button {
    font-size: 1rem;
  }

  .App form {
    flex-direction: column;
    gap: 0.5em;
  }

  .App form button,
  .App form input {
    width: 100%;
  }

  .todoList {
    flex-direction: column;
    gap: 0.5em;
  }

  .todoList button {
    width: 100%;
  }
}
